APP_NAME=example-app-4
APP_INGRESS_URL=example-app-4.apps.ocp.hu
APP_IMAGE_REPOSITORY=image-registry.svc:5000
APP_IMAGE_TAG=1.0.0
APP_SERVICE_PORT=8080
APP_CONFIG_MAP=( "SERVER_PORT:8080" "HOSTNAME:localhost:8090" "TOPIC_NAME:dla" "RANDOM_ENV_VAR:123" )
APP_SECRET_MAP=( "USERNAME:alma" "PASSWORD:kecske123@" )